<a href="https://colab.research.google.com/github/EANimesha/Online-Exam-Cheating-Detection/blob/master/Data%20Visualize%20and%20Analyse/Check_for_looking_away_screen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np  
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df =  pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Research/gazeData7.csv',names=["X", "Y"])

In [ ]:
df.head()

     X   Y
0  682  45
1  614  51
2  636  51
3  641  74
4  952  66

In [ ]:
df.shape

(4617, 2)

In [ ]:
x_min = 64
x_max =1247
y_max =804
y_min =23
c=0
for index, row in df.iterrows():
  if (row['X']>x_max or row['X']<x_min or row['Y']>y_max or row['Y']<y_min):
    c=c+1
    # print('looked away')
  else:
    df.loc[index,'away_time']=0
    if (c!=0):
      print (c)
      df.loc[index-1,'away_time']=c
    c=0

In [ ]:
df.tail()

        X    Y  away_time
4612  900   59        0.0
4613  954  110        0.0
4614  939   -5        NaN
4615  939   -5        2.0
4616  918  148        0.0

In [ ]:
df = df.dropna()

In [ ]:
on_screen_data = df.loc[df['away_time'] == 0.0]
on_screen_data.shape

(4119, 3)

In [ ]:
out_screen_data = df.loc[df['away_time'] != 0.0]
out_screen_data.shape

(95, 3)

In [ ]:
out_screen_data

        X    Y  away_time
25     -1  140        1.0
1180   20  426        2.0
1183    2  457        1.0
1188 -112  426        4.0
1195   19  502        4.0
...   ...  ...        ...
4595  926  -14        3.0
4602  873  -14        1.0
4608  921   15        2.0
4610  900   11        1.0
4615  939   -5        2.0

[95 rows x 3 columns]

In [ ]:
out_screen_data['away_time'].value_counts()

1.0      40
2.0      13
3.0      13
4.0       7
7.0       4
6.0       2
15.0      2
5.0       2
9.0       2
17.0      2
8.0       2
18.0      1
146.0     1
20.0      1
12.0      1
10.0      1
11.0      1
Name: away_time, dtype: int64